html {
    scroll-behavior: smooth;
}

.text-cinza{
    color: #555 !important;
}

.active{
    color: #359830 !important;
}

.btn-primary {
    color: #fff;
    background-color: #359830 !important;
    border-color: #359830 !important;
}

.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #359830, #144D11) !important;
}

h1{
    color: #fff;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #ccc !important;
}

.masthead {
    background-color: #f8f9fa;
    padding-top: 5.5rem;
    padding-bottom:0rem;
}

section{
    padding-bottom: 1px !important;
}

.text-primary{
    color: #359830 !important;
}

.meuHr{
    margin: 0px !important;
    background-color: #359830 !important;
    color: #359830 !important;
    height: 10px !important;
    transform: rotate(-2deg);
    opacity: 1;
}

.meuHrInverso{
    margin: 0px !important;
    padding: 0px !important;
    background-color: #fff !important;
    color: #fff !important;
    height: 10px !important;
    transform: rotate(+2deg);
    opacity: 1;
}